@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html{
   font-size: 62.5%;
}
body{
   overflow: hidden;
   width: 100%;
   height: 100vh;
   background: linear-gradient(to left, #ff7e5f, #feb47b);
}
#preloader{
   width: 100%;
   height: 100vh;
   position: fixed;
   background: #fff;
   background-image: url(../img/Preloader.gif);
   background-repeat: no-repeat;
   background-size: 34rem;
   background-position: center center;
   z-index: 99999;
}
#header{
   width: 100%;
   text-align: center;
   position: absolute;
   top: 0;
   left: 0;
   font-family: 'Raleway', sans-serif;
}
#header h3{
   margin-top: 2.5rem;
   font-size: 2.5rem;
}
/*
*
*           icon-bar start
*
*/
#icon-bar{
   width: 5.5rem;
   position: fixed;
   top: 50%;
   transform: translateY(-50%);
   z-index: 1000;
   box-shadow: 0.5rem 0 0.7rem rgba(0, 0, 0, 0.2);
}
#icon-bar span{
   width: 17rem;
   height: 8rem;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   transform: translateX(-11.5rem);
   transition: 0.5s;
   padding: 1.5rem;
   opacity: 0.8;
}
#icon-bar span a{
   font-size: 1.5rem;
   text-decoration: none;
   color: #fff;
}
#icon-bar span i{
   font-size: 2.5rem;
   padding-left: 2rem;
   color: #fff;
}
#icon-bar span img{
   width: 5rem;
   padding-left: 2rem;
}
#icon-bar span:hover{
   transform: translateX(0);
   box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.2);
   opacity: 1;
}
#icon-bar .facebook{
   background: black;
}
#icon-bar .youtube{
   background: red;
}
#icon-bar .github{
   background: #00acee;
}
/*
*
*           icon-bar end
*
*
*           card start (digital)
*
*/
#card-digital{
   width: 100%;
   height: 100vh;
   display: grid;
   place-items: center;
}
#card-digital .cardbody{
   width: 35rem;
   height: 35rem;
   box-shadow: 0.4rem 0.4rem 2.5rem rgba(0,0,0,0.5);
   background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/b.jpg);
   background-size: cover;
   background-position: bottom;
   border-radius: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
}
#card-digital .border{
   border: 0.1rem solid #f7d794;
}
#card-digital .digital{
   width: 28.9rem;
   height: auto;
   color: #f7d794;
   overflow: hidden;
   padding: 1rem 0;
}
#card-digital .digit{
   float: left;
   border-right: 0.1rem solid #F8EFBA;
}
#card-digital .digit:nth-child(3){
   border-right: none;
}
#card-digital span{
   width: 9.5rem;
   height: 5rem;
   display: block;
   display: grid;
   place-items: center;
   font-size: 3.5rem;
   font-family: 'Josefin Sans', sans-serif;
}
#card-digital span:nth-child(2){
   height: auto;
   padding: 1.5rem;
   font-size: 1.5rem;
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   color: #fff;
}
/*
*
*           card end (digital)
*
*
*           footer start
*
*/
#footer{
   width: 100%;
   height: auto;
   background: #000;
   color: #fff;
   text-align: center;
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 2rem 0 2rem 0;
   opacity: 0.6;
}
#footer span{
   display: inline;
}
#footer span a{
   text-decoration: none;
   color: yellow;
   font-size: 2.4rem;
   font-family: 'Akaya Telivigala', cursive;
}
/*
*
*           footer end
*
*
*           card start (analog)
*
*/
#card-analog{
   width: 100%;
   height: 100vh;
   display: grid;
   place-items: center;
}
#card-analog .cardbody{
   width: 35rem;
   height: 35rem;
   background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/c.jpg);
   background-size: cover;
   background-position: bottom;
   border-radius: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0.4rem 0.4rem 2.5rem rgba(0,0,0,0.5);
}
#card-analog .inside{
   width: 100%;
   height: 100%;
   background: url(../img/clock.png);
   background-size: cover;
}
#card-analog .clock{
   width: 23rem;
   height: 23rem;
   position: relative;
   border-radius: 50%;
}
#card-analog .dot{
   width: 2rem;
   height: 2rem;
   background: orange;
   border-radius: 50%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
#card-analog .clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));/*core of analog clock*/                   
}
#card-analog .clock .hand.second {
  width: 0.2rem;
  height: 10rem;
  background-color: red;
  border-radius: 0.1rem;
}
#card-analog .clock .hand.minute {
  width: 0.4rem;
  height: 8.5rem;
  background-color: #2ba5ee;
  border-radius: 0.2rem;
}
#card-analog .clock .hand.hour {
  width: 0.8rem;
  height: 5rem;
  background-color: #fff;
  border-radius: 0.4rem;
}
/*
*
*           card end (analog)
*
*
*           card start (date)
*
*/
#card-date{
   width: 100%;
   height: 100vh;
   display: grid;
   place-items: center;
}
#card-date .cardbody{
   width: 35rem;
   height: 35rem;
   background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/a.jpg);
   background-size: cover;
   background-position: bottom;
   border-radius: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0.4rem 0.4rem 2.5rem rgba(0,0,0,0.5);
}
#card-date .border{
   border: 0.1rem solid #f7d794;
   padding: 2rem 2.5rem;
}
#card-date .date {
   display: inline-block;
   margin-right: 2rem;
   color: #f7d794;
   text-align: center;
   font-size: 2.5rem;
   font-family: 'Montserrat', sans-serif;
}
#card-date .year{
   margin-right: 0;
}