@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   width: 100%;
   height: 100vh;
   background: linear-gradient(to left, #ff7e5f, #feb47b);
   overflow: hidden;
}
#header{
   width: 100%;
   text-align: center;
   font-size: 25px;
   position: absolute;
   top: 0;
   left: 0;
   font-family: 'Raleway', sans-serif;
}
#header h3{
   margin-top: 25px;
}
/*
*
*           icon-bar start
*
*/
#icon-bar{
   width: 55px;
   position: fixed;
   top: 50%;
   transform: translateY(-50%);
   z-index: 1000;
   box-shadow: 5px 0 7px rgba(0, 0, 0, 0.2);
}
#icon-bar span{
   width: 170px;
   height: 80px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   transform: translateX(-115px);
   transition: 0.5s;
   padding: 15px;
   opacity: 0.8;
}
#icon-bar span a{
   font-size: 15px;
   text-decoration: none;
   color: #fff;
}
#icon-bar span i{
   font-size: 25px;
   padding-left: 20px;
   color: #fff;
}
#icon-bar span img{
   width: 50px;
   padding-left: 20px;
}
#icon-bar span:hover{
   transform: translateX(0);
   box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
   opacity: 1;
}
#icon-bar .facebook{
   background: black;
}
#icon-bar .youtube{
   background: red;
}
#icon-bar .github{
   background: #00acee;
}
/*
*
*           icon-bar end
*
*
*           card start (digital)
*
*/
#card-digit{
   width: 100%;
   height: 100vh;
   display: grid;
   place-items: center;
}
#card-digit .cardbody{
   width: 350px;
   height: 350px;
   box-shadow: 4px 4px 25px rgba(0,0,0,0.5);
   background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/b.jpg);
   background-size: cover;
   background-position: bottom;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
#card-digit .digital{
   width: 287px;
   height: auto;
   color: #f7d794;
   overflow: hidden;
}
#card-digit .digit{
   float: left;
   border-right: 1px solid #F8EFBA;
}
#card-digit .digit:nth-child(3){
   border-right: none;
}
#card-digit span{
   width: 95px;
   height: 50px;
   display: block;
   display: grid;
   place-items: center;
   font-size: 40px;
   font-family: 'Josefin Sans', sans-serif;
}
#card-digit span:nth-child(2){
   height: auto;
   padding: 15px;
   font-size: 15px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   color: #fff;
}
/*
*
*           card end (digital)
*
*
*           footer start
*
*/
#footer{
   width: 100%;
   height: auto;
   background: #000;
   color: #fff;
   text-align: center;
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 20px 0 20px 0;
   opacity: 0.6;
}
#footer span{
   display: inline;
}
#footer span a{
   text-decoration: none;
   color: yellow;
   font-size: 24px;
   font-family: 'Akaya Telivigala', cursive;
}
/*
*
*           card start (analog)
*
*
*           footer start
*
*/
#card-ana{
   width: 100%;
   height: 100vh;
   display: grid;
   place-items: center;
}
#card-ana .cardbody{
   width: 350px;
   height: 350px;
   background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/c.jpg);
   background-size: cover;
   background-position: bottom;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
#card-ana .inside{
   width: 100%;
   height: 100%;
   background: url(../img/clock.png);
   background-size: cover;
}
#card-ana .clock{
   width: 230px;
   height: 230px;
   position: relative;
   border-radius: 50%;
   /*border: 1px solid #f7d794;*/
}
#card-ana .dot{
   width: 20px;
   height: 20px;
   background: orange;
   border-radius: 50%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
#card-ana .clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));/*core of analog clock*/                   
}
#card-ana .clock .hand.second {
  width: 2px;
  height: 100px;
  background-color: red;
  border-radius: 1px;
}
#card-ana .clock .hand.minute {
  width: 4px;
  height: 85px;
  background-color: #2ba5ee;
  border-radius: 2px;
}
#card-ana .clock .hand.hour {
  width: 8px;
  height: 50px;
  background-color: #fff;
  border-radius: 4px;
}